/*  =================================
*   Author: Faraaz Khhan
*   Github: https://www.github.com/FaraazKhhan
*   Date:   27-April-2021
    ================================= */

// google font imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


// variable file import
@import 'variables';


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --header-height: 8vh;
    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth;
}

body {
    // min-height: auto;
    // width: 100vw;

    font-family: $font-body;
    color: $clr-text-dark;
    // background-color: rgb(20,20,20);
}


header.navbar {
    height: 8vh;

    background: linear-gradient(132deg, rgba(255,255,255,0.1), rgba(255,255,255,0.5));
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    h3.logo {
        font-family: $font-logo;
        color: $clr-heading-dark;
        font-size: 1.5rem;

        span {
            color: $clr-danger-darkshade;
            margin-left: 0.1em;
        }
    }

    .menu-btn {
        height: 100%;
        width: 3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        i.menu--open {
            // font-size: 2rem;
            color: $clr-heading-dark;

            &:hover,
            &:active,
            &:focus {
                color: $clr-primary;
            }
        }
    }

    nav.navlinks {
        height: 100vh;
        width: 70%;
        padding: 1em;
        // background: linear-gradient(132deg, rgba(255,255,255,0.1), rgba(255,255,255,0.5));
        // backdrop-filter: blur(10px);
        background: $clr-heading-dark;

        position: absolute;
        right: 0;
        top: 0;

        z-index: 999;

        transition: transform .3s ease-in-out;

        // display: flex;
        // flex-direction: column;
        // justify-content: center;

        i.menu--close {
            // font-size: 2rem;
            float: right;
            color: $clr-heading-light;

            &:hover,
            &:active,
            &:focus {
                color: $clr-primary;
            }
        }
        

        ul.nav-btn {
            padding-left: 1em;
            margin-top: 10em;

            li {
                list-style: none;
                margin: 1em 0;
            }
        }
        a {
            text-decoration: none;
            color: $clr-heading-light;
            font-size: 1.8rem;
            transition: color .3s ease;

            &:hover,
            &:focus,
            &:active {
                color: $clr-primary;
            }
        }
    }

    nav.navlinks {
        transform: translateX(100%);
    }
}

.section {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;

    main.hero--content {
        min-height: 90vh;
        // max-height: auto;

        display: flex;
        flex-wrap: wrap;


        picture.hero-image--container {
            height: calc(300px + 8vh);
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                // filter: grayscale(1);
            }
        }
    
        article.intro--section {
            background-color: $clr-heading-light;

            .wrapper {
                padding: 1em;
                
                h1.heading {
                    font-size: clamp(2rem, 5vw, 3rem);
                    line-height: 1.2;
                    font-family: $font-heading;
                    font-weight: 700;
                    color: $clr-heading-dark;

                    span {
                        color: $clr-primary;
                    }
                }
                p.sub-heading {
                    margin-top: 1em;
                    text-transform: uppercase;
                    letter-spacing: 0.15em;
                }

            }
        }
    
        article.features--section {
            background-color: $clr-heading-dark;

            .wrapper {
                // width: 100%;
                padding: 1em;
                // background: lightskyblue;

                ul.features-list {
                    
                    li {
                        list-style-type: none;
                        color: $clr-heading-light;
                        font-size: clamp(1.2rem, 5vw, 2rem);
                        margin: 0.6em 0;

                        display: flex;
                        align-items: center;

                        &::before {
                            display: inline-block;
                            // vertical-align: middle;
                            content: '\f058';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            color: $clr-primary;
                            margin-right: 0.5em;
                        }
                    }
                }
            }
        }
    }

    section.testimonials {
        background-color: $clr-primary;
        height: auto;

        .wrapper {
            padding: 1em;

            h2 {
                text-align: center;
                margin-top: 1em;
            }

            ul.testimonials-cards {
                list-style-type: none;

                li.card {
                    background-color: $clr-primary-darkshade;
                    height: 300px;
                    margin: 2em 0;
                    border: 1px solid $clr-text-light;
                    border-radius: 1em;
                    text-align: center;

                    box-shadow: 0 0.5em 1em rgba(0,0,0,0.19),
                                0 0.2em 0.2em rgba(0,0,0,0.23);
                    
                    blockquote {
                        background-color: $clr-heading-light;
                        color: $clr-text-dark;
                        padding: 1.2em 1em;
                        height: 60%;
                        text-align: left;

                        border-radius: 1em 1em 0 0;

                        &::before {
                            content: '\f10d';
                            font-family: $font-icon;
                            font-weight: 900;
                            font-size: 2rem;
                            // color: $clr-text-light;
                            opacity: 0.2;

                            margin-right: 0.3em;
                            // float: right;
                        }
                    }
                    
                    footer {
                        height: 40%;

                        border-radius: 0 0 1em 1em;

                        img {
                            height: 6rem;
                            width: 6rem;
                            border: 0.3rem solid $clr-heading-light;
    
                            border-radius: 6em;
                            margin-top: -3.2em;
                        }
                        cite {
                            display: block;
                            color: $clr-heading-light;
                            text-transform: uppercase;
                            letter-spacing: 0.2em;
                            font-style: normal;
                            font-weight: 600;

                            margin-top: 0.3em;

                            p {
                                font-size: 0.8rem;
                                font-style: italic;
                                letter-spacing: 0.1em;
                                font-weight: 400;
                                text-transform: none;
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }

    section.contact {
        height: auto;

        .wrapper {
            padding: 1em;

            display: flex;
            flex-wrap: wrap;

            form {
                padding: 1em;
                height: auto;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;

                label {
                    margin-top: 1em;
                    color: $clr-text-light;
                }

                input[type=text] {
                    padding: 0.2em 2.2em 0.2em 0.5em;
                    font-size: 1rem;
                    height: 2em;
                    width: 100%;
                    border: 1px solid $clr-text-light;
                    border-radius: 0.2em;

                    &#name {
                        background: url('../assets/icons/account_circle_black_24dp.svg') no-repeat scroll 98% 50%;
                    }
                    &#email {
                        background: url('../assets/icons/alternate_email_black_24dp.svg') no-repeat scroll 98% 50%;
                    }
                }
                
                textarea {
                    padding: 0.2em 2.2em 0.2em 0.5em;
                    font-size: 1rem;
                    border: 1px solid $clr-text-light;
                    border-radius: 0.2em;

                    &#message {
                        background: url('../assets/icons/chat_bubble_black_24dp.svg') no-repeat scroll 98% 5%;
                    }
                }

                input[type=submit] {
                    all: unset;
                    margin-top: 1em;
                    width: fit-content;
                    padding: 1em 3em;
                    font-weight: bold;
                    font-size: 1rem;
                    background-color: $clr-primary;
                    color: white;
                    border: none;
                    border-radius: 8em;

                    align-self: center;

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $clr-primary-darkshade;
                    }
                }
            }

            picture.map {
                border: 1px solid $clr-text-light;
                border-radius: 1em;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    object-fit: cover;
                }
            }
        }
    }

    footer.footer {
        background-color: $clr-heading-dark;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        color: $clr-heading-light;

        .social-wrapper {
            text-align: center;
            i {
                margin: 0 0.2em;
                
                &:hover,
                &:active,
                &:focus {
                    color: $clr-primary;
                }
            }
            a {
                color: $clr-primary;

                &::after {
                    content: '\f0e0';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 400;
                    font-style: normal;
                    color: $clr-heading-light;
                    margin-left: 0.5em;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }

        address {
            line-height: 1.2;
            text-align: center;
            color: $clr-text-light;
            a.website {
                color: $clr-primary;

                &::before {
                    content: '\f57e';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    font-style: normal;
                    color: $clr-heading-light;
                    margin-right: 0.5em;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }

        p.copyright {
            font-size: .8rem;
            color: $clr-text-light;
        }
    }
    
    section.about--section {
        background-color: lightgreen;
    }

    section.skills--section {
        background-color: lightpink;
    }
}


// dialog box
.dialog--box {
    height: 100vh;
    background: linear-gradient(132deg, hsla(354, 70%, 91%, 0.1), hsla(355, 70%, 91%, 0.5));
    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    left: 0;

    transform: translateY(-100%);
    transition: transform 0.5s ease;

    
    .wrapper {
        border: 1px solid rgba(209, 70, 70, 0.5);
        border-radius: 1em;
        height: 200px;
        width: 80%;

        padding: 1em;
        // background: $clr-danger-lightshade;
        background: linear-gradient(132deg, rgba(209, 70, 70, 0.1), rgba(209, 70, 70, 0.5));
        backdrop-filter: blur(20px);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
            color: $clr-text-dark;
        }

        h2 {
            color: $clr-text-dark;
        }
        p {
            margin-top: 1em;
            color: #fff;
        }
        button.dialog-close {
            color: $clr-danger-lightshade;
            background-color: $clr-danger-darkshade;
            
            border: 1px solid rgba(209, 70, 70, 0.5);
            border-radius: 8em;

            font-size: 1.2rem;
            padding: 0.5em 2em;
            margin-top: 1em;

            width: fit-content;
            font-weight: bold;

            &:hover,
            &:active,
            &:focus {
                background-color: rgb(194, 54, 54);
                color: #fff;
            }
        }
    }
}


// tablet queries
@media screen and (min-width: 401px) and (max-width: 960px) {
    // article.intro--section,
    // article.basic-skills--section {
    //     width: 50%;
    //     height: 40%;
    // }
    // picture.hero-image--container {
    //     height: 60%;
    // }

    .dialog--box{
        transform: translateY(0%);

        .wrapper {
            width: 320px;

            &::after {
                content: 'try mobile version instead';
                font-size: 1.2rem;
                font-family: $font-heading;
                font-weight: 600;
                color: rgb(194, 54, 54);

                position: absolute;
                top: 110%;
            }
        }
    }
    
}

// desktop media queries
@media screen and (min-width: 961px) {
    // .root-container {
    //     width: clamp(1024px, 1360px, 1920px);
    //     margin: 0 auto;
    // }

    // main.hero--content {
    //     article.intro--section,
    //     article.basic-skills--section {
    //         width: 30%;
    //         height: 100%;
    //     }
    //     picture.hero-image--container {
    //         width: 40%;
    //         height: 100%;
    //     }

    //     article.intro--section {
    //         order: -1;
    //     }
    // }
    .dialog--box{
        transform: translateY(0%);

        .wrapper {
            width: 400px;

            &::after {
                content: 'try mobile version instead';
                font-size: 1.5rem;
                font-family: $font-heading;
                font-weight: 600;
                color: rgb(194, 54, 54);

                position: absolute;
                top: 110%;
            }
        }
    }
    
}

