*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white-100: #fff;
    --color-white-200: #f2f2f2;
    --color-white-400: #efefef;

    --color-lavender: #e6e6fa;

    --color-gray-400: rgb(82, 82, 82);
    --color-gray-800: rgb(40, 40, 40);
    
    --label-color: rgb(80, 80, 80);
    --label-color-alpha50: rgba(80, 80, 80, 0.5);

    --color-accent-400: #845cd6;
    --color-accent-800: #7447d1;
    --color-accent-alpha50: rgba(132, 92, 214, 0.5);

    --color-accent2-400: #aed65c;
    --color-accent2-800: #a4d148;
    --color-accent2-alpha50: rgba(164, 209, 72, 0.5);

    --box-radius-min : 4px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white-400);
    font-family: 'Domine', serif;
    font-size: 12px;
}

/* Main stylings */
header {
    background-color: var(--color-lavender);
    padding: 1em 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    .logo {
        img {
            width: 6rem;
        }
    }

    nav {
        justify-self: flex-end;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a {
            text-decoration: none;
            display: block;
            width: fit-content;
            color: var(--color-accent-800);
            
            position: relative;

            &:not(:last-of-type) {
                margin-bottom: 0.5em;
            }

            &:focus {
                outline: none;
            }

            &:hover::after,
            &:focus::after,
            &:active::after {   
                width: 100%
            }

            &::after {
                content: '';
                height: 1px;
                width: 0;
                background-color: var(--color-accent-400);
                position: absolute;
                bottom: 0;
                right: 0;
                transition: width 0.5s ease;
            }
        }
    }
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
p {
    line-height: 1.6;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .intro-container {
        background-color: var(--color-white-100);
        padding: 2em;
        border-radius: var(--box-radius-min);
    }
}

.img-container img {
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4em 2em;

    min-height: fit-content;
}

blockquote p {
    line-height: 2;
}

figcaption {
    font-size: 0.65rem;
}

form {
    width: 90%;
    max-width: 350px;

    textarea {
        resize: none;
    }
}

.about-text {
    padding: 2em 0;

    p:not(:last-of-type) {
        margin-bottom: 0.5em;
    }
}

.about-section {
    flex-direction: column;

    .section-inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
}

.trivia-section {

    .heading {
        margin-top: 2em;
    }

    li {
        line-height: 1.8;

        &:not(:last-of-type) {
            margin-bottom: 1em;
        }
    }
}

.place-link {
    color: #7447d1;
}


.skills-section {
    background-color: var(--color-accent-400);

    overflow-x: hidden;

    .section-title {
        color: var(--color-white-400);
    }

    .skills-list {
        width: 100%;
        list-style: none;
    }
    .skill {
        min-height: 15rem;
        width: 15rem;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: var(--box-radius-min);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
    }
    .skill-image {
        height: 6rem;
        width: 6rem;
    
        img {
            width: 100%;
        }
    }
    .skill-body {
        text-align: center;
        
        .skill-title {
            color: var(--color-white-100);
            font-size: 1rem;
            margin-bottom: 0.75em;
        }
        p {
            color: rgba(255, 255, 255, 0.65);
            font-size: 0.85rem;
            line-height: 1.4;
        }
    }

    .carousel-cell.is-selected {
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    }
}



.work-section {
    .project-list {
        list-style: none;
    }

    .project {
        display: flex;
        flex-wrap: wrap;
        padding: 2em 0;
        
        &:not(:last-of-type) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        }

        &__intro {
            margin-bottom: 1.15em;
        }

        &__card {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: var(--box-radius-min);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .card-image {
        height: 9rem;

        img {
            height: 100%;
            width: 100%;
            border-radius: 4px 4px 0 0;
            object-fit: cover;
            object-position: top;
        }
    }
    
    .card-btn {
        margin: 0.5em;
    }

    .project-title {
        margin-bottom: 1em;
    }
}


.main-footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-lavender);
    font-size: 0.65rem;

    section {
        padding: 0;
    }

    .footer-wrapper {
        width: 80%;
        max-width: 800px;
    }

    .footer-first-row {
        font-size: 0.85rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 2em;
        padding-bottom: 2em;
        
        .text {
            margin-bottom: 1em;
        }
        .social-container a {
            color: var(--color-lavender);
    
            &:not(:last-of-type) {
                margin-right: 0.5em;
            }

            &:hover,
            &:focus {
                color: var(--color-accent2-800);
            }
        }
    }

    .footer-middle-row {
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;

        .col-title, p {
            width: 100%;
        }
    }

    .footer-last-row {
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: 0.6rem;

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        .footer-col-links {
            text-align: left;

            a {
                color: rgba(255, 255, 255, 0.65);
                text-decoration: none;
                font-weight: 600;

                &::before {
                    content: '\f0c1';
                    font-family: 'Font Awesome 5 Free';
                    margin-right: 0.5em;
                }

                &:hover, &:focus {
                    outline: none;
                    color: var(--color-accent2-800);
                }
            }
        }

        

        .footer-col-address {
            margin-top: 1em;
        }
    }
    
    .col-title {
        margin-bottom: 0.5em;
        font-size: 0.85rem;
    }

    .copyright-container {
        padding: 1em 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.1);
    }
}




// Media queries

@media screen and (min-width: 600px) {
    body {
        font-size: 14px;
    }
    main > *, 
    .about-section .section-inner-wrapper > *,
    .trivia-section > * {
        width: 50%;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        line-height: 1.8;
    }

    main .intro-container {
        height: 100%;
        transform: translateX(-10%);
    }

    header {
        padding: 1em 6em;
    }
    section {
        padding: 4em 6em;
    }

    .about-text {
        padding: unset;
        padding-left: 3em;
    }
    .trivia-text {
        padding-right: 3em;
    }

    .trivia-section {
        flex-direction: row-reverse;

        .heading {
            margin-top: unset;
        }
    }

    .work-section {
        .project {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 18rem;

            &__intro {
                margin-bottom: unset;
                padding-right: 2em;
            }
        }
    }

    .main-footer {

        .footer-first-row {
            justify-content: space-between;

            .text {
                margin-bottom: unset;
            }
        }
    }
}

@media screen and (min-width: 961px) {
    body {
        font-size: 16px;
    }

    p {
        line-height: 2;
    }

    .about-text {
        padding-left: 5em;
    }
    .trivia-text {
        padding-right: 5em;
    }

    .work-section .project__intro {
        padding-right: 5em;
    }
}




